$red-1: rgba(255, 82, 82, 1);

.pulser {
  display: inline-block;
  background: $red-1;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  visibility: hidden;

  box-shadow: 0 0 0 0 $red-1;
  transform: scale(1);
}

.pulser.animatePulse {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(3);
    box-shadow: 0 0 0 3vh rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}